body {
    background-color: #161616
}

.title {
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
    font-size: x-large;
}

.explanation {
    text-align: left;
    float: right;
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
    max-width: 250px;
}

.credit {
    vertical-align: bottom;
    display: table-cell;
    height: 200px;
    color: lightgrey;
    font-family: "Segoe UI Symbol";
}

.vega-bind .vega-bind-name {
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
}