body {
    background-color: #161616
}

.title {
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
    font-size: 50px;
    padding-left: 50px;
    padding-top: 50px;
}

.explanation {
    text-align: left;
    float: right;
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
    max-width: 250px;
}

.credit {
    vertical-align: bottom;
    display: table-cell;
    height: 200px;
    color: lightgrey;
    font-family: "Segoe UI Symbol";
    text-align: left;
    padding-left: 60px;
}

.vega-bind .vega-bind-name{
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
}


span {
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
}

img {
    height: 60%;
    width: 60%;
    float: right;
    padding: 50px;
}