body {
    background-color: #666666
}

.title {
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
    font-size: x-large;
}

.explanation {
    float: left;
    text-align: center;
    color: antiquewhite;
    font-family: "Segoe UI Symbol";
    max-width: 250px;
}

.credit {
    color: lightgrey;
    font-family: "Segoe UI Symbol";
}